.root {
    -fx-padding: 20 20 20 20;
}

.title-label {
    -fx-font-size: 28px;
    -fx-font-weight: bold;
    -fx-padding: 30 0 20 0; /* margin top and bottom */
}

.text-field, .password-field, .button {
    -fx-max-width: 300px;
    -fx-min-width: 200px;
}

.separator {
    -fx-padding: 10 0 10 0;
}

.message-label {
    -fx-text-fill: red;
    -fx-alignment: center;
    -fx-padding: 10 0 0 0;
}

